<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
<div class="row">
<div class="col-lg-2"></div>

<div class="col-lg-8 my-3">
<h2 class="text-center">Minha Agenda!</h2>
<p class="text-center lead">Contatos Abaixo:</p>

<div class="row">
  <div class="col my-3">
    <div class="alert alert-danger">Um erro qualquer</div>
  </div>
</div>

<div class="responsive-table">
  <table class="table">
    <tr>
      <td>Nome</td>
      <td>Sobrenome</td>
      <td>551121313</td>
      <td>nomesobrenome@email.com</td>
    </tr>

  </table>
</div>

</div>

<div class="col-lg-2"></div>

</div>
</div>

<%- include('includes/footer') %>
